.chat-display-container-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(to right, #151414 , #dd75138b), url('../../../Assets/chat.jpg');
    background-size: cover;
  }
  
  .chat-messages {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-message {
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 60%; /* Restrict width to simulate chat bubbles */
    position: relative;
    font-size: 14px;
    clear: both;
    word-wrap: break-word; /* Break long words/messages */
    line-height: 1.5;
  }
  
  .sent {
    align-self: flex-end;
    background-color: #151414;
    text-align: right;
    margin-left: auto; /* Pushes sent messages to the right */
    border-bottom-right-radius: 0; /* Square corner on the bottom right */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for message depth */
  }
  
  .received {
    align-self: flex-start;
    background-color: #dd7413;
    text-align: left;
    margin-right: auto; /* Pushes received messages to the left */
    border-bottom-left-radius: 0; /* Square corner on the bottom left */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow for message depth */
  }
  
  .chat-message p {
    margin: 0;
    word-wrap: break-word;
  }
  
  .sent p, .received p {
    font-size: 14px; 
    color: #ffffffb4;

  }
  
  .time-stamp {
    display: block;
    font-size: 12px;
    color: #d1d1d1;
    margin-top: 5px;
  }
  
  .sent .time-stamp {
    text-align: right;
  }
  
  .received .time-stamp {
    text-align: left;
  }
  
  .typing-area {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }

  .chat-form{
    display: flex;
    flex-direction: row;
  }
  .chat-form input{
    width: 90%;
    height: 40px;
    background-color: #15141468;
    border: none;
    outline: none;
    color: #f5f5f5;
  }
  .chat-form button{
    width: 10%;
    height: 40px;
  }