/* src/components/ServiceDetails.css */

.service-details {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  .service-list-top{
    display: flex;  

  }.service-details-left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    display: flex; 
    justify-content: center; 
    padding: 30px;
  }
  .service-details-left-side h1{
    text-align: left;
    font-size: 22px;
    color: #dd7413;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .service-details-left-side .service-main-photo {
    max-width: 100%; 
    height: 100%; 
    object-fit: contain; 
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 


  }
  
  .service-details-right-side{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .service-details-right-side .location-service{
    color: green;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    font-style: italic;
    padding-left: 30px;
    display: flex;
    align-items: center;
  }

  .service-list-display-location{
    padding: 30px;

  }
  .service-details-heading{
    color: rgba(118, 114, 114, 0.699);
    font-size: 16px;
  }

  .extra-photos-bottom-part-service-details{
    margin: 20px auto;
    columns: 4; 
    column-gap: 20px;
    padding: 30px;
  }
  .extra-photos-bottom-part-service-details-secnd{
    width: 100%;
    margin-bottom: 40px;
    break-inside: avoid;
  }
  .extra-photos-bottom-part-service-details-secnd img{
    width: 500px;
    border-radius: 15px; 
  }
  
  .google-map-icon{
    color: green;
    margin-right: 20px;

  }