/* Your existing CSS with adjustments */
.modal {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80vh;
  width: 560px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.close-modal-button {
  background: none;
  border: none;
  padding: 5px;
  font-weight: 900;
  color: #dd7413;
  border-radius: 5px;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profilepage-container {
  display: flex;
  margin: 55px auto 0;
  max-width: 600px;
}
.profilepage-container .left-pane img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-image-container img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.left-pane,
.middle-pane,
.right-pane {
  flex: 1;
  padding: 10px;
}
