/* DefaultChatDisplay.css */
.default-chat-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    padding: 20px;
    background: linear-gradient(to right, #151414 , #dd7513b3), url('../../../Assets/chat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  