.chatlist-container {
    display: flex;
    flex-direction: column;

}
  
  .chatlist-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #cccccc3a;
  }
  
  .chatlist-user-img img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
  
  
  .chat-user-auth-name{
    color: rgba(255, 255, 255, 0.759);
    font-size: 18px;
    font-weight: 700;
  }
  .chatlist-user {
    cursor: pointer;
    border-bottom: 1px solid #cccccc3a;
    padding: 0px;
  }
  
  .chatlist-middle {
    display: flex;
    align-items: center;
  }
  
  .chatlist-participant {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .chatlist-participant .chatlist-user-img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .chatlist-participant .chatlist-user-content{
    margin-left: 20px;
  }
  .chatlist-participant .chatlist-user-content p {
    margin: 0;
    padding: 0;
    color: #ffffffe8;
    text-align: left;
  }
  .chatlist-participant .chatlist-user-content .text-msg{
  color: #ffffff68;
  font-size: 14px;
  }