/* Basic styles for the side navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#151414;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
  }
  
  .sidenav a {
    padding: 8px 8px 38px 32px;
    text-decoration: none;
    font-size: 17.5px;
    color: #e1ded2;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #dd7413;
  }
  
  .sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    display: none;
  }
  
  .open-btn {
    font-size: 20px;
    background-color: #333;
    color: #e12d2d;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    z-index: 1001;
    display: none;
  }
  
  .sidenav.open {
    width: 250px; /* Adjust width as needed */
  }
  
  @media(max-width:1000px){
    .open-btn{
      display: block;
    }
    .sidenav .close-btn {
     display: block;
    }
    .sidenav{
      width: 0;
    }
    .sidenav.sidenav.open{
      width: 250px;
    }
    
  }
  